* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: transparent linear-gradient(180deg, #2A537B 0%, #6D5291 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 1856px;
}

/* nav bar styles  */

nav {
  height: 130px;
  background: #2A6D90 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 30px 40px;
  margin-top: 30px;
}

.logo-orange {
  width: 175px;
  height: 58px;
  border: 3px solid #FFFFFF;
  background-color: #FF5B1A;
}

li {
  width: 100px;
  height: 30px;
  background: #95C3DB 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  list-style: none;
  margin-left: 20px;
}

ul {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* main section styles  */

.main-section {
  margin: 20px 0px;
  height: 100%;
}

.container-1 {
  /* height: 100%; */
  background: #476592 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 50px 20px;
  border-right: solid 15px transparent;
}

.container-1-top {
  padding: 25px 40px 0px 40px;
}

.round-icons {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.round-icon {
  width: 97px;
  height: 97px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  opacity: 1;
}

.container-1-bottom {
  padding-top: 20px;
}

.container-1-bottom-2 {
  text-align: right;
  padding-left: 40px;
}

.container-1-bottom-2 > p {
  padding-bottom: 20px;
}

.container-1-picture {
  width: 324px;
  height: 467px;
  background: #EFEFEF 0% 0% no-repeat padding-box;
  border: 3px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
  margin-right: 40px;
}

.button {
  width: 203px;
  height: 59px;
  background: #95C3DB 0% 0% no-repeat padding-box;
  border-radius: 30px;
  border: none;
  opacity: 1;
  float: right;
}

.container-2 {
  /* height: 100%; */
  background: #6D5291 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px; 
}

.container-2-img {
  width: 100%;
  height: 132px;
  border: 3px solid #FFFFFF;
  opacity: 1;
  background-color: #EFEFEF;
  margin-bottom: 20px;
}

.container-2-card {
  padding: 20px;
}

/* form style */

.form-section {
  height: 436px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  opacity: 1; 
  padding: 60px;
}

.form-input{
  border: 1px solid #000000;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  border-radius: 62px;
  width: 100%;
  height: 52px;
}

.textOnInput {
  position: relative;
  background: #F4F4F4 0% 0% no-repeat padding-box;

}
.textOnInput label {
  position: absolute;
  top: -15px;
  left: 40px;
  padding: 2px;
  z-index: 1;
  background: #F4F4F4 0% 0% no-repeat padding-box;
}
.textOnInput label:after {
  content: " ";
  background: #F4F4F4 0% 0% no-repeat padding-box;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

label {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: .5rem;
}
.form-control {
  box-shadow: none !important;
}

.form-input-section {
  padding-bottom: 40px;
}

/* font style  */

p {
  font: normal normal normal 16px/24px Arial;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

h1 {
  font-size: 44px;
  font: normal normal bold 44px/50px Arial;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  padding-bottom: 30px;
}

h2 {
  font: normal normal bold 26px/31px Arial;
  font-size: 26px;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

h3 {
  font-size: 22px;
  text-align: left;
  font: normal normal bold 22px/22px Arial;
  letter-spacing: 0px;
  color: #151A22;
  text-transform: uppercase;
  opacity: 1;
  padding-bottom: 40px;
}

/* footer style */

footer {
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  margin-top: 58px;
}
